*{
    margin: 0;
    padding: 0;
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 200px;
}
nav .heading-title{
    font-size: 45px;
    font-weight: 800;
}
nav .heading-title1{
    color:tomato;
}

nav ul{
    display: flex;
    align-items: center;
  
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}

nav li a{
    text-decoration: none;
}

.list1{
    color: gray;
}

.button1{
   background-color: tomato;
   color: white;
   border: none;
   font-weight: bold;
   padding: 15px 20px;
   border-radius: 5px;
   cursor: pointer;
}

/* banner section */
.banner-parent{
    display: flex;
    align-items: center;
    background-image: url("/images/developer.png"),url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
   

}
.banner-text{
    margin: 0 200px;
}
.banner-text h4{
    font-size: 45px;
    color:gray
}
.banner-text h1{
    font-size: 85px;
}

.banner-text  .banner-description{
    font-size: 18px;
}

.banner-image{
    margin: 0 200px;
}

.banner-image .image1{
    width: 580px;
}

/* Main section is started */

main{
    max-width: 950px;
    margin: 130px auto;
}
.section-title{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 110px 60px;
    box-shadow: 3px 3px 4px grey;
}

.section-title .heading-3{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;

}
.section-title .para-1{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: grey;
}
.address{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.address .parg{
    color: grey;

}

/* skills */
.skills{
    margin-top: 120px;
}
.skills .heading-h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.skills .para-3{
    text-align: center;
    color: grey;
    margin-bottom: 20px;
    font-size: 18px;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.skills-container .skills-title{
    font-size: 20px;  
    margin-top: 25px;          

}
.skills-child{
    background-color:#fff8f359;
    padding: 30px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
}
.skills-container .skills-p1{
    font-size: 16px;
    color:grey;
    margin-top: 15px;
}


.parent-resume{
    display: flex;
    align-items: center;
    gap: 20px;
}
.resume{
    margin-top: 120px;
}
.resume .heading-h3{
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
    padding: 15px;
}

.resume-left .heading-h
{
    font-size: 30px;
    margin-bottom: 20px;
}
.resume-left1 .heading-h4{
      font-size: 25px;
      margin: 20px 0 5px 0;
}
.resume-left1 .heading-h5{
    font-size: 20px;
}

.resume-left1 .parag{
    font-size: 16px;
    color: grey;
    margin: 15px 0 25px 0;
}
.resume-right .heading-h
{
    font-size: 30px;
    margin-bottom: 20px;
}
.resume-right1 .heading-h4{
      font-size: 25px;
      margin: 20px 0 5px 0;

}
.resume-right1 .heading-h5{
    font-size: 20px;
}


.resume-right1 .parag{
    font-size: 16px;
    color: grey;
    margin: 15px 0 25px 0;

}

.button2{
    text-align: center;
    margin-top: 20px;
 }

 /* footer part is start */

 #footer-parent{
    background-color: #FFF8F3;
    display: flex;
    gap: 100px;
    padding:130px 230px ;
 }
 .heading-h31{
    font-size: 35px;
    margin-bottom: 20px;
 }

 .icons{
    display: flex;
    gap: 20px;
 }
 .par1{
    font-size: 16px;
    margin-bottom: 30px;
 }
 .headin{
    font-size: 35px;
 }
.footer-colum{
    width: 50%;
}

#footer-parent input[type="text"],#footer-parent input[type="email"], #footer-parent textarea{
    padding: 10px 20px;
    margin-top: 28px;
    margin-bottom: 24px;
    display: block;
    width: 100%;
    height: 28px;
    border-radius: 5px;
    border: none;
}

